version: '3.5'

services:
  microservice.identityserver:
    image: microserviceidentityserver
    build:
      context: .
      dockerfile: 02.CoreServices/Member/Microservice.IdentityServer/Dockerfile

  microservice.logging.api:
    image: microserviceloggingapi
    build:
      context: .
      dockerfile: 02.CoreServices/Logging/Microservice.Logging.API/Dockerfile

  microservice.logging.backgroundprocess:
    image: microserviceloggingbackgroundprocess
    build:
      context: .
      dockerfile: 02.CoreServices/Logging/Microservice.Logging.BackgroundProcess/Dockerfile

  microservice.notification.backgroundprocess:
    image: microservicenotificationbackgroundprocess
    build:
      context: .
      dockerfile: 02.CoreServices/Notification/Microservice.Notification.BackgroundProcess/Dockerfile

  ezStore.product.api:
    image: ezstoreproductapi
    build:
      context: .
      dockerfile: 03.ezStore/Product/ezStore.Product.API/Dockerfile
