<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-6 col-md-4">
      <div class="card">
        <div class="card-header">
          Product
        </div>
        <div class="card-body">
          <input type="file" (change)="drop($event)" />
          <br>
          <button class="btn btn-sm btn-primary float-right" type="button" (click)="save()"><i class="fa fa-search"></i>&nbsp;Save
          </button>
          <button class="btn btn-sm btn-primary float-right" type="button" (click)="download()"><i class="fa fa-search"></i>&nbsp;Download
          </button>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
</div>