apiVersion: v1
kind: Service
metadata:
  name: microservices-identityserver
spec:
  type: NodePort
  ports:
  - name: identityserver
    protocol: TCP
    port: 80
    nodePort: 30001
  selector:
    app: microservices-identityserver
---
apiVersion: apps/v1beta1
kind: Deployment
metadata:
  name: microservices-identityserver
spec:
  replicas: 1
  minReadySeconds: 10
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: microservices-identityserver
    spec:
      containers:
      - name: microservices-identityserver
        image: ezstoremicroservices/microservices.identityserver
        ports:
        - containerPort: 80
        env:
          - name: ASPNETCORE_ENVIRONMENT
            value: "k8s"
        command: ["/bin/bash"]
        args: ["-c", "dotnet /app/Microservices.IdentityServer.dll"]
---
---
apiVersion: v1
kind: Service
metadata:
  name: microservices-logging-api
spec:
  type: NodePort
  ports:
  - name: logging-api
    protocol: TCP
    port: 80
    nodePort: 30002
  selector:
    app: microservices-logging-api
---
apiVersion: apps/v1beta1
kind: Deployment
metadata:
  name: microservices-logging-api
spec:
  replicas: 1
  minReadySeconds: 10
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: microservices-logging-api
    spec:
      containers:
      - name: microservices-logging-api
        image: ezstoremicroservices/microservices.logging.api
        ports:
        - containerPort: 80
        env:
          - name: ASPNETCORE_ENVIRONMENT
            value: "k8s"
        command: ["/bin/bash"]
        args: ["-c", "dotnet /app/Microservices.Logging.API.dll"]
---
---
apiVersion: v1
kind: Service
metadata:
  name: microservices-setting-api
spec:
  type: NodePort
  ports:
  - name: setting-api
    protocol: TCP
    port: 80
    nodePort: 30003
  selector:
    app: microservices-setting-api
---
apiVersion: apps/v1beta1
kind: Deployment
metadata:
  name: microservices-setting-api
spec:
  replicas: 1
  minReadySeconds: 10
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: microservices-setting-api
    spec:
      containers:
      - name: microservices-setting-api
        image: ezstoremicroservices/microservices.setting.api
        ports:
        - containerPort: 80
        env:
          - name: ASPNETCORE_ENVIRONMENT
            value: "k8s"
        command: ["/bin/bash"]
        args: ["-c", "dotnet /app/Microservices.Setting.API.dll"]
---
---
apiVersion: v1
kind: Service
metadata:
  name: microservices-logging-background
spec:
  type: ClusterIP
  ports:
  - name: logging-background
    protocol: TCP
    port: 80
  selector:
    app: microservices-logging-background
---
apiVersion: apps/v1beta1
kind: Deployment
metadata:
  name: microservices-logging-background
spec:
  replicas: 2
  minReadySeconds: 10
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: microservices-logging-background
    spec:
      containers:
      - name: microservices-logging-background
        image: ezstoremicroservices/microservices.logging.background
        ports:
        - containerPort: 80
        env:
          - name: ASPNETCORE_ENVIRONMENT
            value: "k8s"
        command: ["/bin/bash"]
        args: ["-c", "dotnet /app/Microservices.Logging.BackgroundProcess.dll"]
---
---
apiVersion: v1
kind: Service
metadata:
  name: microservices-notification-background
spec:
  type: ClusterIP
  ports:
  - name: logging-api
    protocol: TCP
    port: 80
  selector:
    app: microservices-notification-background
---
apiVersion: apps/v1beta1
kind: Deployment
metadata:
  name: microservices-notification-background
spec:
  replicas: 2
  minReadySeconds: 10
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: microservices-notification-background
    spec:
      containers:
      - name: microservices-notification-background
        image: ezstoremicroservices/microservices.notification.background
        ports:
        - containerPort: 80
        env:
          - name: ASPNETCORE_ENVIRONMENT
            value: "k8s"
        command: ["/bin/bash"]
        args: ["-c", "dotnet /app/Microservices.Notification.BackgroundProcess.dll"]
      dnsConfig:
        nameservers:
        - 8.8.8.8
---
---
apiVersion: v1
kind: Service
metadata:
  name: ezstore-order-api
spec:
  type: NodePort
  ports:
  - name: ezstore-order-api
    protocol: TCP
    port: 80
    nodePort: 31001
  selector:
    app: ezstore-order-api
---
apiVersion: apps/v1beta1
kind: Deployment
metadata:
  name: ezstore-order-api
spec:
  replicas: 2
  minReadySeconds: 10
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: ezstore-order-api
    spec:
      containers:
      - name: ezstore-order-api
        image: ezstoremicroservices/ezstore.order.api
        ports:
        - containerPort: 80
        env:
          - name: ASPNETCORE_ENVIRONMENT
            value: "k8s"
        command: ["/bin/bash"]
        args: ["-c", "dotnet /app/ezStore.Order.API.dll"]
---
---
apiVersion: v1
kind: Service
metadata:
  name: ezstore-payment-api
spec:
  type: NodePort
  ports:
  - name: ezstore-payment-api
    protocol: TCP
    port: 80
    nodePort: 31002
  selector:
    app: ezstore-payment-api
---
apiVersion: apps/v1beta1
kind: Deployment
metadata:
  name: ezstore-payment-api
spec:
  replicas: 2
  minReadySeconds: 10
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: ezstore-payment-api
    spec:
      containers:
      - name: ezstore-payment-api
        image: ezstoremicroservices/ezstore.payment.api
        ports:
        - containerPort: 80
        env:
          - name: ASPNETCORE_ENVIRONMENT
            value: "k8s"
        command: ["/bin/bash"]
        args: ["-c", "dotnet /app/ezStore.Payment.API.dll"]
---
---
apiVersion: v1
kind: Service
metadata:
  name: ezstore-product-api
spec:
  type: NodePort
  ports:
  - name: ezstore-product-api
    protocol: TCP
    port: 80
    nodePort: 31003
  selector:
    app: ezstore-product-api
---
apiVersion: apps/v1beta1
kind: Deployment
metadata:
  name: ezstore-product-api
spec:
  replicas: 2
  minReadySeconds: 10
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: ezstore-product-api
    spec:
      containers:
      - name: ezstore-product-api
        image: ezstoremicroservices/ezstore.product.api
        ports:
        - containerPort: 80
        env:
          - name: ASPNETCORE_ENVIRONMENT
            value: "k8s"
        command: ["/bin/bash"]
        args: ["-c", "dotnet /app/ezStore.Product.API.dll"]
---
---
apiVersion: v1
kind: Service
metadata:
  name: ezstore-warehouse-api
spec:
  type: NodePort
  ports:
  - name: ezstore-warehouse-api
    protocol: TCP
    port: 80
    nodePort: 31004
  selector:
    app: ezstore-warehouse-api
---
apiVersion: apps/v1beta1
kind: Deployment
metadata:
  name: ezstore-warehouse-api
spec:
  replicas: 2
  minReadySeconds: 10
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: ezstore-warehouse-api
    spec:
      containers:
      - name: ezstore-warehouse-api
        image: ezstoremicroservices/ezstore.warehouse.api
        ports:
        - containerPort: 80
        env:
          - name: ASPNETCORE_ENVIRONMENT
            value: "k8s"
        command: ["/bin/bash"]
        args: ["-c", "dotnet /app/ezStore.WareHouse.API.dll"]
---
---